<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style></style>
  </head>
  <body class="mail">
    <div class="container mail__container">
      <header class="mail__header">
        <img class="mail__logo" src="" alt="" />
        <h1 class="primary-heading">RESET PASSWORD REQUEST</h1>
      </header>
      <main class="main__main"></main>
      <footer class="main__footer"></footer>
    </div>
  </body>
</html>
